.product {
    margin: -10px 0 0 -10px;
    width: calc(100% + 10px);
  }

.product > * {
    margin: 10px 0 0 10px;
  }

  /* END  */

.home-section {
  margin: 0;
}

/* FIRST SECTION MOBILE  */
.first-section-mobile {
  margin: -.3125rem auto 0;
}

.fsm-header {
  height: 4rem;
  margin-top: .9375rem;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  border-radius: .3125rem .3125rem 0 0;
  border-bottom: .0625rem solid #e5e5e5;
}
.fsm-header h2 {
  margin: 0 auto 0 0;
  max-width: 70%;
  color: #000;
  letter-spacing: .03125rem;
  font-size: 13px;
}

.fsm-header a {
  color: #8b054d;
    display: inline-block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: .03125rem;
    margin-left: auto;
    padding-bottom: .1875rem;
}

.fsm-product-ctn {
  padding: 0 1rem;
  padding-bottom: .625rem;
  background-color: #fff;
  border-radius: 0 0 .3125rem .3125rem;
}

.fsm-item-list {
  padding-bottom: .625rem;
  padding: 0;
  margin: 0 -.8rem 0 0;
  overflow: hidden;
  display: flex;
  overflow-x: auto;
  font-weight: 400;
}

.fsm-item-ctn {
  margin-top: .8rem;
  margin-left: .8rem;
  margin-bottom: .425rem;
  /* max-width: 100vw; */
  /* min-width: calc(50% - .3125rem); */
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 5%);
}
.fsm-item-ctn:first-child {
  margin-left: .1rem;
  /* min-width: calc(50% - .3125rem); */
}

.fsm-item {
  padding: .9375rem .625rem;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.fsm-image img {
  height: 100px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.fsm-desc {
  padding: .625rem;
  display: flex;
  align-items: center !important;
  justify-content: space-between;
}
.fsm-desc p {
    margin: 0;
    font-size: 1rem;
    font-weight: 700;
    color: #bbb;
}

.fsm-desc p.price {
  color: #000;
  font-size: 1.3rem;
}

@media (min-width: 469px) {
  .fsm-image img {
    height: 150px;
    width: 250px;
  }
}

@media (min-width: 999px) {
  .first-section-mobile {
    display: none;
  }
}

/* FIRST SECTION DESKTOP  */
.fsm-header.fsd h2 {
  font-size: 17px;
}

.fsm-header.fsd a {
  font-size: 15px;
}

.fsd-product-ctn {
  padding: .46875rem;
  background-color: #fff;
  border-radius: 0 0 .3125rem .3125rem;
}
.fsd-product-ctn.ss {
      background-color: #f2f2f2;
}

.fsd-item-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  font-weight: 400;
  overflow: hidden;
}

.fsd-item-ctn {
  margin: .86875rem;
  width: calc(33.33333% - 1.8375rem);
  background-color: #fff;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 5%);
  transition: box-shadow .4s ease-in-out,-webkit-box-shadow .4s ease-in-out;
}
.fsd-item-ctn.ss {
  width: calc(33.33333% - 3.7375rem);
  border-radius: .3125rem;
  box-shadow: none;
}
.fsd-item-ctn:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.fsd-item-ctn.ss:hover {
  box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 12%), 0 0.125rem 0.25rem 0 rgb(0 0 0 / 8%);
}

.fsd-item {
  padding: .9375rem;
  display: flex;
  cursor: pointer;
  transition: box-shadow .4s ease-in-out,-webkit-box-shadow .4s ease-in-out;
}

.fsd-image {
  padding-right: .625rem;
}
.fsd-image img {
  height: 100px;
  width: 200px;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.fsd-desc  {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.fsd-desc p.name {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 700;
  color: #bbb;
}

.fsd-desc p.price {
  color: #000;
  font-size: 1.7rem;
  font-weight: 700;
}

@media (max-width: 999px) {
  .fsd-item-ctn {
    width: calc(50% - 1.8375rem);
  }
  .fsd-item-ctn.ss {
    width: calc(50% - 3.7375rem);
  }
}

@media (max-width: 633px) {
  .fsd-item-list {
    justify-content: center;
  }
  .fsd-item-ctn {
    width: calc(90% - 1.8375rem);
  }
  .fsd-item-ctn.ss {
    width: calc(90% - 2.7375rem);
  }

  .fsd-image img {
    height: 200px;
    width: 300px;
  }

  .fsm-header.fsd h2 {
    font-size: 13px;
  }
  
  .fsm-header.fsd a {
    font-size: 13px;
  }

  .fsd-desc p.name {
    font-size: 1rem;
  }
  
  .fsd-desc p.price {
    font-size: 1.3rem;
  }
}

@media (max-width: 501px) {

  .fsd-image img {
    height: 100px;
    width: 200px;
  }

}

@media (max-width: 400px) {
  .fsd-item-list {
    justify-content: center;
  }
  .fsd-item-ctn {
    width: calc(100% - 1.8375rem);
  }
  .fsd-item-ctn.ss {
    width: calc(100% - 2.7375rem);
  }
}

/* SECOND SECTION  */
.fsm-header.ss {
  background: #4a4a4a url(https://res.cloudinary.com/staging-konga-com/image/upload/f_auto,q_auto/assets/images/homepage/category_icons.png) no-repeat;
}
.fsm-header.ss h2 {
  font-size: 13px;
  color: #fff;
}

.ss-item-list {
  padding: 0;
  margin: 0;
}

.fsd-item-ctn.ss {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  background-color: #fff;
  min-height: 28.125rem;
  overflow: hidden;
  padding: .9375rem;
}

.ss-image {
  margin-bottom: .9375rem;
  overflow: hidden;
  position: relative;
  
}
.ss-image a {
  position: absolute;
  right: 0;
  top: .125rem;
}
.ss-image img {
  height: 150px;
  width: 100%;
  object-fit: cover;
  object-position: center;
  overflow: hidden;
}

.ss-desc {
  margin-left: 0;
  padding:0 1rem 0;
  display: flex;
  flex-direction: column;
}

.ss-desc-name h3 {
  margin: 0;
  color: #000000;
  font-size: 1.5rem;
  font-weight: 600;
  text-transform: capitalize;
}

.ss-desc-price {
  line-height: 1.25rem;
  margin-top: 1rem;
  padding: 1rem 0;
  vertical-align: middle;
  border-bottom: .0625rem solid #f2f2f2;
  border-top: .0625rem solid #f2f2f2;
  font-size: 1.25rem;
}
.ss-desc-price span {
  font-size: 2rem;
  font-weight: 700;
  color: #1C1D1F;
}

.ss-desc-text {
  margin-top: .3125rem;
}

span.dtf {
  margin-right: .3125rem;
  padding-right: .3125rem;
  font-size: 1rem;
  color: #9b9b9b;
  border-right: .0625rem solid #8f8f8f;
}

span.dts {
  margin-right: .3125rem;
  padding-right: .3125rem;
  font-size: 1rem;
  color: #9b9b9b;
}

.go-back-btn.ss {
  margin: 1rem 0 0;
}
.go-back-btn.ss a {
  padding: 1rem 0;
  display: block;
  font-weight: 600;
  text-align: center;
  transition: all .3s ease-in-out;
}
.go-back-btn.ss a:hover {
  color: #FFF;
  background-color: var(--main-color);
}