/* VARIABLES */
:root {
  --main-color: #33b27b;
  --light-green: #f1f9f8;
  --light-cyan: #D4EDEA;
  --deep-green: #0c4343;
  --primary-color: #fff;
  --dark-grey: #737a91;
  --bg-grey: #f7f9fc;
  --background-gray: #F5F5F5;
}
/* END OF VARIABLES */

::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 16px x 62.5% = 10px = 1rem */
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  background-color: #fafafa;
  /* background-image: linear-gradient(
    180deg
    ,#f1f9f4,rgba(241,249,244,0));
  background-attachment: fixed; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

section {
  margin: 0;
  animation: fadeIn 0.5s ease-in-out forwards;
}
section.fade-out {
  animation: fadeOut 0.5s ease-in-out forwards;
}
/* ANIMATION KEYFRAMES  */
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}
@keyframes fadeOut {
  0% {
      opacity: 1;
  }
  100% {
      opacity: 0;
  }
}
/* END OF ANIMATION KEYFRAMES  */

/* CUSTOM SCROLLBAR  */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background-color: var(--white);
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-color);
}
/* END OF CUSTOM SCROLLBAR  */

/* LAYOUT */
.grid-container {
  display: grid;
  grid-template-areas:
  'header'
  'main'
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

/* header {
  grid-area: header;
} */

main {
  grid-area: main;
  padding: 1rem;
  margin-top: 10rem;
}

footer {
  grid-area: footer;
  background: #24292e;
}
/* END OF LAYOUT */

/* COMMON */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}

h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}

select,
textarea {
  padding: 0.5rem;
  border-radius: 4px;
  border: .0625rem solid #e8e8e8;
  font-size: 13px;
  font-family: Helvetica, Arial, sans-serif;
  outline: none !important;
  box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 12%), 0 0.125rem 0.25rem 0 rgb(0 0 0 / 8%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  line-height: 1.5;
  color: #FFFFFF;
  background-color: var(--deep-green);
  /* border: 1px solid black; */
  /* box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15); */
  padding: 10px 28px;
  display: inline-block;
  border: none;
  border-radius: .25rem;
  font-weight: 500;
  text-transform: capitalize;
  font-family: inherit;
  font-size: 15px;
  cursor: pointer;
  user-select: none;
  position: relative;
  overflow: hidden;
  vertical-align: middle;
  transition: all .3s ease-in-out;
}

button.primary {
  background-color: #f0c040;
  font-weight: 600;
}
button.green {
  background-color: #33b27b;
  font-weight: 600;

}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* END OF COMMON */

/* HEADER */

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

/* END OF HEADER */

/* ARCHITECTURE */
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.min-30 {
  min-width: 30rem;
  
}

.d-none {
  display: none;
}
/* END OF ARCHITECTURE */

/* IMAGE */
img {
  border-radius: 0.5rem;
}

img.small {
  max-width: 5rem;
  width: 100%;
}

img.medium {
  max-width: 29rem;
  width: 100%;
}
/* END OF IMAGE */

/* CARD */
.card {
  box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
  background-color: #f8f8f8;
  border-radius: 0.5rem;
  margin: 1rem;
}

.card-body {
  padding: 1rem; 
}

.card-body > * {
  margin-bottom: 0.5rem; 
}

.price {
  font-size: 2rem;
}
/* END OF CARD */

/* FORM */
.form {
  max-width: 60rem;
  margin: 0 auto;
  
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}

.container{
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  width: auto;
  margin: auto;
  max-width: 45rem;
  padding: 4rem;
  margin-top: 2rem;
  box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.2);
}

.form {
display: flex;
flex-direction: column;
max-width: 450px;
width: 100%;

}

h1.title {
  color: black;
  font-size: 3.2rem;
  font-weight: bold;
  margin-bottom: .8rem;
}

input {
  font-weight: 550;
  border-radius: 4px;
  border: none;
  color: black;
  height: 5rem;
  line-height: 4rem;
  padding: .3rem 1rem;
  border: 0.1rem #a4a4a4 solid;
}

/* END OF FORM */

/* AUTHENTICATION */
.auth {
  width: 100%;
  max-width: 768px;
  display: flex;
  align-items: center;
  margin: auto;
}

.auth-img {
  width: 60%;
  height: 100%;
  display: flex;
  object-fit: contain;
  overflow: hidden;
}
.auth-img img {
  width: 100%;
}

.auth-form {
  width: 40%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.form-container {
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  border: 1px solid rgba(219,219,219);
  border-radius: 4px;
}
.form-container h1 {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form-container h1 img {
  margin-bottom: 1rem;
}

.form-container .message {
  margin-bottom: 1rem;
  width: 100%;
  display: flex;
  justify-content: left;
  font-size: small;
}

.form-container input {
  margin-left: 3.5px;
  margin-bottom: 1rem;
  padding: 1.25rem 1rem;
  width: 90%;
  height: 1.7rem;
  font-size: 1.2rem;
  line-height: 1.25rem;
  color: rgba(97, 97, 97);
  border: 1px solid rgba(219,219,219);
  border-radius: 4px;
}

button.submit {
  width: 100%;
  font-weight: 700;
  background-color: var(--deep-green);
  border-radius: 4px;
  box-shadow: none !important;
}

.form-footer {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: 1px solid rgba(219,219,219);
  border-radius: 4px;

}

.form-footer p {
    font-size: 1.2rem/* 14px */;
}

.form-footer p a {
  font-weight: bold;
  color: var(--deep-green);
}

/* RESPONSIVE  */
@media (max-width: 901px) {
  .auth {
    height: 60vh;
  }
  .auth .auth-img {
    display: none;
  }
  .auth-form {
    width: 60%;
  }
  .form-container input {
    margin-left: 8px;
  }
}

@media (max-width: 640px) {
  .auth-form {
    width: 80%;
  }
}

@media (max-width: 501px) {
  .auth-form {
    width: 90%;
  }

  .form-container input {
    margin-left: 3.5px;
  }
}
/* END OF RESPONSIVE  */
/* END OF AUTHENTICATION */

/* CHECKOUT */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: var(--deep-green);
  color: var(--deep-green);
}
/* END OF CHECKOUT */

/* TABLE */
.table {
  width: 100%;
  border-collapse: collapse;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* END OF TABLE */