/* CARD */
.customCard {
    height: 100%;
    max-width: 350px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px !important;
    border-radius: 5px;
    overflow: hidden;
    outline-width: 0px !important;
}

.customCard .customCard_image {
    height: 200px;
    width: 300px;
    transition: all 1s linear;
}


.customCard .customCard_image:hover {
    transform: scale(1.1);
}

.customCard .customCard_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.customCard .customCard_name {
    font-weight: bold;
    font-size: 1.3rem;
    color: cadetblue;
}

/* END OF CARD*/