/* .cart_details {
    padding: 1.4rem 1.4rem 1.4rem;
    margin-top: .5rem;
  
} */
.go-back-btn {
    margin-bottom: 1.25rem;
}
.go-back-btn a {
    border: .0625rem solid var(--main-color);
    border-radius: .1875rem;
    color: var(--main-color);
    font-size: 1.3rem;
    font-weight: 500;
    padding: .5rem;
}
.go-back-btn svg {
    height: .5625rem;
    margin-right: .6875rem;
    width: .75rem;
    vertical-align: middle;
}

.cart-container {
    margin-bottom: 3rem;
}

.cart-title {
    height: 3.25rem;
    margin-bottom: 1rem;
    padding: .9375rem;
    display: flex;
    align-items: center;
    background-color: white;
    border-bottom: .0625rem solid #e8e8e8;

}

.cart-title svg {
    margin-right: .625rem;
}
.cart-title h1 {
    margin: 0 auto 0 0;
    padding: 0;
    font-size: 13px;
    font-weight: 600;
}

.cart-item {
    display: block;
    margin: .625rem;
    padding: .625rem;
    background-color: #fff;
    border: .0625rem solid #e8e8e8;
}
.cart-item.placeholder {
    margin: 0;
    display: flex;
    justify-content: space-between;
}

.cart-item-first {
    width: 100%;
    padding: 0;
    display: flex;
    margin-bottom: .5rem;
}
.cart-item-first img {
    width: 8.5rem;
    height: 8.5rem;
    margin-right: .625rem;
    overflow: hidden;
    object-fit: contain;
}
.cart-item-first .item-name {
    margin: 0 0 .5rem;
    width: 60%;
    display: flex;
    align-items: center;

}
.cart-item-first .item-name a {
    font-size: 13px;
    font-weight: 600;
    color: #404553;
}

.cart-item-second {
    margin-bottom: .25rem;
    padding: 0 0 .5rem;
    width: 100%;
    display: flex;
}

.item-quantity {
    display: flex;
    justify-content: center;
    margin-right: .625rem;
    width: 8.5rem;
}

.item-price {
    display: flex;
    align-items: center;
}
.item-price.placeholder {
    width: 100%;
    justify-content: center;
}
.item-price p {
   margin: 0;
   color: #bbb;
   font-size: 1.2rem;
   font-weight: 600;
}

.cart-item-third {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: .0625rem solid #e8e8e8;
}

.cart-item-third button {
    margin: 1rem 0 .375rem 0;
    background-color: unset;
    border: .0625rem solid #d8d8d8;
    border-radius: .1875rem;
    color: #404553;
    cursor: pointer;
    font-weight: 700;
    font-size: 10px;
    text-align: center;
    box-shadow: none;
}

/* CART-CARD-CONTAINER */
.cart-card-container {
    font-size: .8125rem;
    padding-bottom: .625rem;
    background-color: #fff;
    border-radius: 0;
    margin-top: .9375rem;
    overflow: hidden;
    position: relative;
}
.cart-card-container.placeholder {
    width: 100%;
}

.cart-card-title {
    margin: 0;
    padding: .9375rem;
    display: flex;
    align-items: center;
    border-bottom: .0625rem solid #f2f2f2;
    color: #000;
}
.cart-card-title svg {
    margin-right: .625rem;
}
.cart-card-title h4 {
    color: #000;
    font-size: 1.4rem;
    font-weight: 700;
    margin: 0;
}

.cart-card-subtotal,
.cart-card-tax,
.cart-card-total,
.cart-card-button {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    border-bottom: .0625rem solid #f2f2f2;
    color: #000;
    cursor: pointer;
}

span {
    font-size: 1.5rem;
}

span.amount {
    font-weight: 700;
}

span.tax {
    color: #9b9b9b;
    font-size: .825rem;
    font-weight: 400;
    text-align: right;
    width: 6.25rem;
}

.delivery-text {
    color: #b87300;
    font-size: .6875rem;
    font-weight: 400;
    margin: 0;
    padding: .125rem .9375rem;
    text-align: right;
}

.cart-card-button{
    border: none !important;
}

/* RESPONSIVE  */
@media (min-width: 770px) {
    .cart-item {
        margin: 0 1.2rem;
        display: flex;
        align-items: center;
    }

    .cart-item-third {
        border: none;
    }
}

@media (min-width: 995px) {
    .go-back-btn a {
        font-size: 1.3rem;
        line-height: 1.25rem;
        margin-left: .6875rem;
    }

    .cart-section {
        display: flex;
        gap: 1rem;
    }

    .cart-container {
        width: 70%;
        margin-bottom: 0;

    }
    .cart-container.placeholder {
        width: 100%;
    }
    

    .cart-card-container {
        width: 30%;
        margin-top: 0;
    }
    .cart-card-container.placeholder {
        width: 100% !important;
    }
}
/* END OF RESPONSIVE  */