header {
    top: 0;
    right: 0;
    left: 0;
    padding: .5rem 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #ffffff;
    box-shadow: rgb(185 185 185 / 25%) 0px 2px 8px;
    color: #000000;
    z-index: 2000;

}
header.non {
    box-shadow: none !important;
}

.nav-left,
.nav-center,
.nav-center ul,
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NAV-LEFT  */
.nav-left .nav-brand {
    margin-right: 1rem;
    display: flex;
    align-items: center !important;
    justify-content: center !important;
    
}
.nav-left .nav-brand img{
    height: 50px;

}

.nav-left .search-bar {
    width: 16.5rem;
    padding: 5px;
    display: none;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border: 1px solid #cfd4db;
    border-radius: 2rem;
    /* box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.2); */

}
.nav-left .search-bar.show {
    display: flex;
}

.nav-left input {
    width: 90%;
    height: 100%;
    font-size: 12px;
    color: #000000;
    border: none;
    outline: none;
    background: transparent;
    
}
.nav-left input::placeholder {
    color: #000000;
    font-weight: 500;
}

.nav-left .search-bar img {
    height: 1.5rem;
    width: 1.5rem;
}

/* NAV-CENTER  */
.nav-center .navbar-nav {
    margin: auto;
}

.navbar-nav .nav-item {
    margin: 0 .5rem !important;
}
.navbar-nav .nav-item a{
    padding-right: 2em;
    font-size: 14px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000000;
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-item a:hover{
    color: var(--main-color);
}

/* NAV-RIGHT  */
.nav-right .nav-icon-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: .5rem;

}
.nav-icon-group.d-none {
    display: none;
}

.nav-right .MuiSvgIcon-root {
    font-size: 25px;
    color: #000000;

}

.nav-right .badge {
    background-color: #000000;
    color: #ffffff;
    border-radius: 20%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: -1px;
  }

.nav-right button{
    /* margin-left: .5rem; */
    font-size: 1em;
    font-weight: 700;
    height: 2.625em;
    border-radius: .25rem;
    background: var(--deep-green);
    box-shadow: none;
}

.nav-right button a {
    color: var(--primary-color);
}
.nav-right button:hover a {
    opacity: 0.8;
}



  .dropdown {
    position: relative;
    font-weight: bold;
    display: flex;
    color: black;
    padding: 1rem;
  }
  .dropdown.d-none {
      display: none;
  }
  .dropdown img {
      border-radius: 50%;
  }
  .dropdown .fa-caret-down {
    margin-top: 5px;
    margin-left: 3px;
  }

  .dropdown-content {
    width: 0%;
    min-width: 0px;
    visibility: hidden;
    position: absolute;
    right: 0;
    top: 3rem;
    z-index: 1;
    background: #fff;
    margin: 0;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transition: min-width 0.3s ease;
  }
  .dropdown:hover .dropdown-content {
    color: #000000;
    min-width: 200px;
    visibility: visible;
  }
  .dropdown:hover .dropdown-content a{
    color: #000000 !important;
  }

  .dropdown:hover ul li {
      opacity: 1;
  }
  .dropdown ul li {
    opacity: 0;
    padding: 0 10px;
    margin-top: 0px !important;
    transition: opacity 0.1s ease;
  }
  .dropdown ul li:hover {
      background-color: whitesmoke;
  }
  .dropdown ul li div {
    display: flex;
    align-items: center;
  }
  .dropdown ul li div h5 {
      margin-left: 5px;
  }

  .dropdown ul li div .MuiSvgIcon-root{
    font-size: 22px;
  }

  .dropdown ul li p {
      margin: 0 !important;
      margin: -15px 0 0 29px !important;
      padding-bottom: 10px;
      font-size: 11px;
      font-weight: 300;
      color: var(--dark-grey);
  }

  .dropdown ul li hr {
      padding: 0;
      margin: 0;
      border: none;
      border-bottom: 1px solid whitesmoke !important;
  }

  /* .dropdown:hover .dropdown-content a{
    color: black;
    transition: all 0.3s ease-in-out;
  }
  .dropdown:hover .dropdown-content a:hover{
    opacity: 0.6;
  } */

  .nav-right .nav-toggler {
    margin-right: 10px;
    padding: 0 !important;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: none;
    border: none;
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
.nav-right .nav-toggler span {
    height: 1px;
    width: 24px;
    position: relative;
    background-color: black;
    transition: background-color 0.3s ease;
}
.nav-right .nav-toggler.active span {
    background-color: transparent;
}
.nav-right .nav-toggler span::before,
.nav-right .nav-toggler span::after {
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    transition: all 0.3s ease;
}

.nav-right .nav-toggler span::before {
    left: 0;
    transform: translateY(-8px);
}
.nav-right .nav-toggler.active span::before {
    transform: rotate(45deg);
}

.nav-right .nav-toggler span::after {
    right: 0;
    transform: translateY(8px);
}
.nav-right .nav-toggler.active span::after {
    transform: rotate(-45deg);
}
/* :not(): property doesn't apply when header.active */
.nav-right .nav-toggler:not(.active):hover span::before,
.nav-right .nav-toggler:not(.active):hover span::after {
    width: 50%;
}

  /* RESPONSIVE  */
@media (max-width: 901px) {
    header {
    padding-right: 0rem !important;
    }
    .nav-center {
        display: none;
    }

    .nav-right .nav-toggler {
        display: flex !important;
        outline: none !important;
    }
    
    .nav-right button.signin {
        display: none;
    }

}

@media (max-width: 767px) {
    .nav-left .nav-brand img{
        height: 43px;
    }

    .nav-left .search-bar.show {
        display: none;
    }
    .nav-left .search-bar.show.active {
        display: flex !important;
    }
}