header {
    top: 0;
    right: 0;
    left: 0;
    padding: .5rem 1rem;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to bottom right, var(--lightest-grape), var(--light-grape));
    background-attachment: fixed;
    box-shadow: 0 2px 30px rgb(66 66 66 / 10%);
    z-index: 1030;

}

.nav-left,
.nav-center,
.nav-center ul,
.nav-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* NAV-LEFT  */
.nav-left .nav-brand {
    margin-right: 1rem;
    justify-content: center !important;
    
}
.nav-left .nav-brand img{
    height: 50px;
}

.nav-left .search-bar {
    width: 16.5rem;
    padding: 1rem 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    border-radius: .3rem;
    box-shadow: 0.2rem 0.2rem 0.5rem 0rem rgba(0, 0, 0, 0.2);

}

.nav-left input {
    width: 90%;
    height: 100%;
    font-size: 12px;
    color: var(--deep-text-grape);
    border: none;
    outline: none;
    background: transparent;
    
}
.nav-left input::placeholder {
    color: var(--deep-text-grape);
    font-weight: 500;
}

.nav-left .search-bar img {
    height: 1.5rem;
    width: 1.5rem;
}

/* NAV-CENTER  */
.nav-center .navbar-nav {
    margin: auto;
}

.navbar-nav .nav-item {
    margin: 0 .5rem !important;
}
.navbar-nav .nav-item a{
    padding: 0 .5rem !important;
    font-size: 15px;
    font-weight: 600;
    text-transform: capitalize;
    color: var(--deep-text-grape);
    transition: color 0.3s ease-in-out;
}
.navbar-nav .nav-item a:hover{
    color: var(--deep-grape);
}

/* NAV-RIGHT  */
.nav-right .nav-icon-group {
    position: relative;
    display: flex;
    align-items: center;
    margin-right: .5rem;

}

.nav-right .MuiSvgIcon-root {
    font-size: 25px;
    color: var(--deep-text-grape);

}

.nav-right .badge {
    background-color: var(--deep-text-grape);
    color: #ffffff;
    border-radius: 20%;
    padding: 0.2rem 0.7rem;
    font-size: 1.4rem;
    margin-left: -1px;
  }

.nav-right button{
    margin-left: .5rem;
    color: var(--main-color);
    background: #ffffff;
    border: 2px solid var(--deep-text-grape);
}
.nav-right button.signin:hover {
    background-color: var(--deep-text-grape);
    
}

.nav-right button a {
    color: black;
    font-weight: 500;
}
.nav-right button:hover a {
    color: white;
}

.fa-caret-down {
    margin-left: 5px;
  }

  .dropdown {
    position: relative;
    font-weight: bold;
    display: inline-block;
    color: black;
    padding: 1rem;
  }

  .dropdown-content {
    position: absolute;
    display: none;
    right: 0;
    top: 3rem;
    min-width: 12rem;
    padding: 1rem;
    z-index: 1;
    background: #fff;
    margin: 0;
    margin-top: 0.4rem;
    border-radius: 0.3rem;
    box-shadow: 0 8px 24px rgba(49, 157, 165, 0.2);
  }
  .dropdown:hover .dropdown-content {
    color: #24292e;
    display: block;
  }

  .dropdown:hover .dropdown-content a{
    color: black;
    transition: all 0.3s ease-in-out;
  }
  .dropdown:hover .dropdown-content a:hover{
    color: turquoise;
    opacity: 0.6;
  }

  .nav-right .nav-toggler {
    margin: 0 10px;
    padding: 0 !important;
    height: 40px;
    width: 40px;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border: none;
    border-radius: 10%;
    cursor: pointer;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}
.nav-right .nav-toggler span {
    height: 2px;
    width: 24px;
    position: relative;
    background-color: black;
    transition: background-color 0.3s ease;
}
.nav-right .nav-toggler.active span {
    background-color: transparent;
}
.nav-right .nav-toggler span::before,
.nav-right .nav-toggler span::after {
    content: '';
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: black;
    transition: all 0.3s ease;
}

.nav-right .nav-toggler span::before {
    left: 0;
    transform: translateY(-8px);
}
.nav-right .nav-toggler.active span::before {
    transform: rotate(45deg);
}

.nav-right .nav-toggler span::after {
    right: 0;
    transform: translateY(8px);
}
.nav-right .nav-toggler.active span::after {
    transform: rotate(-45deg);
}
/* :not(): property doesn't apply when header.active */
.nav-right .nav-toggler:not(.active):hover span::before,
.nav-right .nav-toggler:not(.active):hover span::after {
    width: 50%;
}

  /* RESPONSIVE  */
@media (max-width: 901px) {
    header {
    padding-right: 0rem !important;
    }
    .nav-left .search-bar,
    .nav-center {
        display: none;
    }

    .nav-right .nav-toggler {
        display: flex !important;
    }    
}

@media (max-width: 767px) {
    .dropdown {
        display: none;
    }

    .nav-left .nav-brand img{
        height: 45px;
    }
}