
.product-ovv-container {
  padding: .625rem;
  display: flex;
  flex-direction: column;
  background-color: #fff;
}

.product-ovv-img {
  margin: auto;
  text-align: center;
  min-height: 12.5rem;
  width: 100%;
  position: relative;

}
.product-ovv-img img{
  border-style: none;
  display: block;
  object-fit: contain;
  width: 100%;
}

.product-ovv-desc {
  width: 100%;
}
.product-ovv-desc h4 {
  margin: 1.2rem 0;
  font-size: 1.7rem;
  font-weight: 700;
  color: #404553;
}

.desc-status {
  width: 100%;
  font-size: 1.3rem;
  color: #9b9b9b;
  margin-bottom: .5rem;
}
.desc-status span {
  font-size: 1.3rem;
  font-weight: 600;
}

.desc-price {
  border-color: #f2f2f2;
  border-style: solid;
  border-width: .0625rem 0;
  margin-top: .625rem;
  padding: .9375rem 0;
}
.desc-price {
    color: #000;
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: .625rem;
}
.desc-price span {
  font-family: sans-serif;
  margin-right: 1px;
  font-size: 2.5rem;
}

.desc-rq-container,
.desc-button {
  border-bottom: .0625rem solid #f2f2f2;
  padding: 1.125rem 0;
}

.desc-ratings,
.desc-qty {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

span.r-text {
  margin-bottom: 0;
  font-size: 1.3rem;
  color: #9b9b9b;
  flex-shrink: 0;
  width: 3.75rem;
}

.desc-qty {
  margin-top: 2rem;
}

.desc-description {
  box-shadow: 0 0.25rem 0.5rem 0 rgb(0 0 0 / 12%), 0 0.125rem 0.25rem 0 rgb(0 0 0 / 8%);
}

.desc-button {
 display: flex;
}

.desc-message {
  padding: 1rem 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.message-container {
  display: flex;
  flex-basis: 100%;
  align-items: center;
    font-size: .75rem;
    font-weight: 500;
}
.message-container svg {
  flex-basis: 2.1875rem;
  flex-shrink: 0;
  margin-right: .625rem;
  vertical-align: middle;
}
.message-container span {
  font-size: 12px;
}

.similar-items-container {
  margin-top: 1.7rem;
}

.similar-items-title {
  color: #5a5f66;
  font-size: 1.3rem;
  font-weight: 700;
  margin: 1.25rem 0 1.625rem;
  text-align: left;
}

.items-section {
  margin: -.3125rem auto 0;
}

.items-container {
  padding-bottom: .625rem;
  display: flex;
  font-weight: 400;
  overflow-x: auto;
  gap: 1rem;

}



@media screen and (min-width: 768px) {
.product-ovv-container {
  padding: 1.5rem 1.5rem 2.5rem;
  flex-direction: row;
}

.product-ovv-img {
  width: 60%;
  margin-right: .875rem;
}
.product-ovv-img img {
  height: 50rem;
}

.product-ovv-desc {
  width: 40%;
}

.product-ovv-desc h4 {
  font-size: 2.3rem;
}

.similar-items-title {
  font-size: 1.8rem;
}
}